include LICENSE
include README.md
include requirements.txt
include run_gui.bat
include scripts/obsidian_export
include scripts/obsidian_export_gui
recursive-include obsidian_recursive_notes *.py
recursive-include tests *.py 